<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="container">
      {% include nav.html %}
      <div class="site">
          <ul class="posts">
            <!-- 从URL中截取tag进行展示：例如: http://127.0.0.1:4000/tags/博客.html => 截取出 "博客"  -->
            {% assign tag = page.url | split: '/' | last | split: '.' | first | url_decode %}
            <div class="tag_name">-- TAG: {{ tag }} --</div>
            {% for post in site.posts %}
              {% if post.tags contains tag %}
                <li><span class="post_date">{{ post.date | date_to_string }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
  {% include footer.html %}
</html>